<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <title>{% block title %}FitHub | {{title}}{% endblock %}</title>
    <meta name="csrf-token" content="{{ csrf_token }}">
    <!--<link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'hub_style.css' %}">
    <link rel="stylesheet" href="{% static 'cart_style.css' %}">
</head>
<body>
<header>
    <button id="cart-button">Корзина</button>
</header>

<main>
    {% block content %}
    {% endblock %}
</main>

<div id="cart-sidebar" class="hidden">
    <div id="cart-sidebar-content">
        <!-- Содержимое корзины будет загружаться сюда через AJAX -->
    </div>
</div>

<footer>

</footer>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'cart_script.js' %}"></script>
</body>
</html>
